<!--
    Author: Jerry Li
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>so I have this website...</title>
    <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=alternate_email,arrow_forward,call,chat,commit,exit_to_app,favorite,feedback,gavel,history,home,info,lightbulb,live_tv,mail,open_in_new,person_add,question_mark,science,tag,web_stories" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="simple-wrapper">
            <div id="simple-list">
                <span class="simple-list-title">old site directory</span>
                <ul class="simple-list-list">
                    <a href="https://old.jerryly.cn/pages/about">
                        <li>
                            about
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/apple">
                        <li>
                            apple
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/christmas">
                        <li>
                            christmas
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/classical_ch">
                        <li>
                            classical_ch
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/classical_ch_sh">
                        <li>
                            classical_ch_sh
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/contact">
                        <li>
                            contact
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/develop">
                        <li>
                            develop
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/flashback">
                        <li>
                            flashback
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/friends">
                        <li>
                            friends
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/gallery">
                        <li>
                            gallery
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/homemade_giftcard">
                        <li>
                            homemade_giftcard
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/music">
                        <li>
                            music
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/noticeboard">
                        <li>
                            noticeboard
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/search">
                        <li>
                            search
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/survey">
                        <li>
                            survey
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                    <a href="https://old.jerryly.cn/pages/taylorswift">
                        <li>
                            taylorswift
                            <span class="file-type">html file</span>
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </li>
                    </a>
                </ul>
                <span class="simple-list-title">contact</span>
                <ul class="simple-list-list">
                    <a href="mailto:jerrysmailbox77@icloud.com">
                        <li>
                            mail
                            <span class="file-type"></span>
                            <span class="material-symbols-outlined">mail</span>
                        </li>
                    </a>
                    <a href="javascript:;">
                        <li>
                            +1 (434) 310 4701
                            <span class="file-type"></span>
                            <span class="material-symbols-outlined">call</span>
                        </li>
                    </a>
                    <a href="https://github.com/jerrysrepo">
                        <li>
                            GitHub
                            <span class="file-type"></span>
                            <span class="material-symbols-outlined">commit</span>
                        </li>
                    </a>
                    <a href="https://twitter.com/jerrylime33">
                        <li>
                            Twitter
                            <span class="file-type"></span>
                            <span class="material-symbols-outlined">tag</span>
                        </li>
                    </a>
                </ul>
            </div>
            <div id="simple">
                <div id="logo-wrapper">
                    <div id="logo"></div>
                </div>
                <div id="link-wrapper">
                    <a href="https://jerryly.cn">home</a>
                    <a href="https://old.jerryly.cn">old</a>
                    <a href="https://live.jerryly.cn">live</a>
                    <a href="https://blog.jerryly.cn">blog</a>
                    <a href="https://demo.jerryly.cn">demo</a>
                </div>
                <a href="https://live.jerryly.top/pages/news">
                    <div id="newsflash">
                        <span class="material-symbols-outlined">feedback</span>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        $("#logo-wrapper").click(() => {
            $("#simple-wrapper").toggleClass("expanded");
        });

        $(document).click((e) => {
            if (!$(e.target).closest("#simple-wrapper, #logo-wrapper").length) {
                $("#simple-wrapper").removeClass("expanded");
            }
        });
    </script>
</body>

</html>