<!--
    Author: Jerry Li
    Date: Jul 19 2025
    Version: 1.0
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>so I have this website...</title>
    <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=alternate_email,arrow_forward,chat,exit_to_app,favorite,gavel,history,home,info,lightbulb,live_tv,open_in_new,person_add,question_mark,science,web_stories" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="menu">
            <div id="call">
                <a href="https://jerryly.cn" id="logo-link">
                    <div id="logo-wrapper">
                        <div id="logo"></div>
                    </div>
                </a>
                <div id="welcome">bonjour</div>
            </div>
            <div id="location-indicator">
                <div>
                    <a href="https://jerryly.cn" class="subdomain-link">
                        <div class="subdomain" id="subdomain-1">
                            <span>
                                <span class="material-symbols-outlined">home</span>www
                            </span>
                            <p class="text-n">The main page of jerryly.cn.</p>
                        </div>
                    </a>
                    <a href="https://demo.jerryly.cn" class="subdomain-link">
                        <div class="subdomain" id="subdomain-3">
                            <span>
                                <span class="material-symbols-outlined">web_stories</span>demo
                            </span>
                            <p class="text-n">Live preview of projects I've been working on. Please only visit when
                                advised to.
                            </p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="https://blog.jerryly.cn" class="subdomain-link">
                        <div class="subdomain" id="subdomain-2">
                            <span>
                                <span class="material-symbols-outlined">chat</span>blog
                            </span>
                            <p class="text-n">Jerry's blog that hasn't been updated for a year now.</p>
                        </div>
                    </a>
                    <div class="subdomain" id="subdomain-4">
                        <a href="https://old.jerryly.cn"><span>
                                <span class="material-symbols-outlined">history</span>old
                            </span></a>
                        <p class="text-n">Contents that are published prior to 2025 and no longer maintained. Click to
                            learn
                            more.</p>
                        <ul>
                            <a href="https://old.jerryly.cn/pages/about">
                                <li>
                                    about
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/apple">
                                <li>
                                    apple
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/christmas">
                                <li>
                                    christmas
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/classical_ch">
                                <li>
                                    classical_ch
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/classical_ch_sh">
                                <li>
                                    classical_ch_sh
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/contact">
                                <li>
                                    contact
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/develop">
                                <li>
                                    develop
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/flashback">
                                <li>
                                    flashback
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/friends">
                                <li>
                                    friends
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/gallery">
                                <li>
                                    gallery
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/homemade_giftcard">
                                <li>
                                    homemade_giftcard
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/music">
                                <li>
                                    music
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/noticeboard">
                                <li>
                                    noticeboard
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/search">
                                <li>
                                    search
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/survey">
                                <li>
                                    survey
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                            <a href="https://old.jerryly.cn/pages/taylorswift">
                                <li>
                                    taylorswift
                                    <span class="file-type">html file</span>
                                    <span class="material-symbols-outlined">arrow_forward</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="m-copyright">© Jerry's Studio 江源工作室 2019-2025</div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        $("#menu").click(() => {
            $("#menu").addClass("expanded");
            $("#content-unit").addClass("shifted");
            $("#copyright-info").addClass("shifted");
        });

        $(document).click((e) => {
            if (!e.target.closest("#menu")) {
                $("#menu").removeClass("expanded");
                $("#content-unit").removeClass("shifted");
                $("#copyright-info").removeClass("shifted");
            }
        });

        function updateWelcomeMsg() {
            const welcomeMsg = document.getElementById("welcome");
            const now = new Date();
            if (now.getHours < 5) {
                welcomeMsg.innerText = "bonne nuit";
            } else if (now.getHours < 18) {
                welcomeMsg.innerText = "bonjour";
            } else {
                welcomeMsg.innerText = "bonsoir";
            }
        }

        $(document).ready(updateWelcomeMsg);

        $("#subdomain-4").click(() => {
            $("#subdomain-1").toggleClass("shrink");
            $("#subdomain-2").toggleClass("shrink");
            $("#subdomain-3").toggleClass("shrink");
            $(".subdomain-link").toggleClass("shrink");
            $("#location-indicator").toggleClass("widen");
            $("#m-copyright").toggleClass("hidden");
        });
    </script>
</body>

</html>